body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    margin: 20px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.card-content {
    padding: 15px;
}

.card:hover {
    transform: scale(1.05);
}
